<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="components.css" />
    <script src="../app.js" defer></script>
    <link rel="icon" type="image/png" href="../assets/favicon-16x16.png" />
    <title>Locus UI | Avatars</title>
  </head>
  <body>
    <div class="loc-container">
      <div class="overlay-div"></div>
      <div class="loc-sidebar-wrapper hidden-sidebar">
        <div class="loc-sidebar">
          <div class="loc-head">
            <a href="../index.html"
              ><img src="../assets/final logo alt.png" alt=""
            /></a>
            <p>Docs v1.0</p>
          </div>

          <a href="install.html" class="loc-get-started">Install Locus UI</a>

          <div class="loc-sidebar-nav">
            <a href="button.html">Button</a>
            <a href="alert.html">Alerts</a>
            <a href="badge.html">Badges</a>
            <a href="cards.html">Cards</a>
            <a class="avatars-page" href="avatars.html">Avatars</a>
            <a href="input.html">Input</a>
            <a href="modal.html">Modals</a>
          </div>

          <div class="loc-sidebar-footer">
            <p>
              Designed and Developed by <br />
              <a href="https://ayanshukla-portfolio.netlify.app/"
                ><span>Ayan Shukla</span></a
              >
            </p>
            <div class="loc-connect">
              <a href="https://github.com/Ayan4"
                ><img src="../assets/github-main.svg" alt=""
              /></a>
              <a href="https://twitter.com/home"
                ><img src="../assets/twitter.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="loc-hero-section">
        <div class="loc-hero-nav">
          <a href="../index.html">
            <img class="hero-nav-logo" src="../assets/single-logo.png" alt="" />
          </a>
          <div>
            <img class="ham-menu" src="../assets/ham-menu.svg" alt="" />
          </div>
        </div>

        <div class="loc-hero-head">
          <div>
            <h1>Avatars</h1>
            <p>
              The Avatar component is used to represent a user, and displays the
              profile picture, initials or fallback icon.
            </p>
          </div>

          <a href="https://github.com/Ayan4/Locus-UI"
            ><img src="../assets/github.svg" alt=""
          /></a>
        </div>

        <div class="loc-hero-main">
          <div class="loc-hero-subhead">
            <h2>Avatar Sizes</h2>
            <p>
              The Avatar component comes in 3 sizes. Select <span>small</span>,
              <span>medium</span> and <span>large</span> to switch between sizes
            </p>
          </div>

          <div class="showcase-div">
            <div class="elements">
              <div class="inner-element-div">
                <img
                  class="avatar-sm"
                  src="../assets/avatar-pic (2).jpg"
                  alt=""
                />
                <p class="element-class-label">avatar-sm</p>
              </div>

              <div class="inner-element-div">
                <img
                  class="avatar-md"
                  src="../assets/avatar-pic (2).jpg"
                  alt=""
                />
                <p class="element-class-label">avatar-md</p>
              </div>

              <div class="inner-element-div">
                <img
                  class="avatar-lg"
                  src="../assets/avatar-pic (2).jpg"
                  alt=""
                />
                <p class="element-class-label">avatar-lg</p>
              </div>
            </div>
            <div class="code-box">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2818%2C18%2C18%2C1%29&t=seti&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%27avatar-sm%27%2520src%253D%2522..%252Fassets%252Favatar-pic%2520%282%29.jpg%2522%2520alt%253D%2522%2522%253E%250A%250A%253Cimg%2520class%253D%27avatar-md%27%2520src%253D%2522..%252Fassets%252Favatar-pic%2520%282%29.jpg%2522%2520alt%253D%2522%2522%253E%250A%250A%253Cimg%2520class%253D%27avatar-lg%27%2520src%253D%2522..%252Fassets%252Favatar-pic%2520%282%29.jpg%2522%2520alt%253D%2522%2522%253E"
                style="width: 100%; height: 279px; border:0; background-color: #121212; border-radius: 0 0 3px 3px; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
          </div>

          <div class="loc-hero-subhead">
            <h2>Default Avatars</h2>
          </div>

          <div class="showcase-div">
            <div class="elements">
              <div class="inner-element-div">
                <a href="#">
                  <ion-icon
                    class="avatar-default"
                    size="large"
                    name="person-circle-outline"
                  ></ion-icon>
                </a>
                <p class="element-class-label">avatar-default</p>
              </div>

              <div class="inner-element-div">
                <a href="#" class="avatar-default-alt">TJ</a>
                <p class="element-class-label">avatar-default-alt</p>
              </div>
            </div>
            <div class="code-box">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2818%2C18%2C18%2C1%29&t=seti&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ca%2520href%253D%2522%2523%2522%253E%250A%2520%2520%2520%2520%253Cion-icon%2520class%253D%27avatar-default%27%2520size%253D%27large%27%2520name%253D%2522person-circle-outline%2522%253E%253C%252Fion-icon%253E%250A%253C%252Fa%253E%250A%250A%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522avatar-default-alt%2522%253ETJ%253C%252Fa%253E"
                style="width: 100%; height: 279px; border:0; background-color: #121212; border-radius: 0 0 3px 3px; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
</html>
